.about {
    margin-top: 50px;
    &__img {
        margin-right: 68px;
    }
    &__info {
        max-width: 565px;
    }
    &__pepole {
        position: relative;
        margin-left: 167px;
        &::before {
            content: "";
            width: 134px;
            height: 134px;
            background: #FFAA99;
            border-radius: 71.5px;
            position: absolute;
            top: -22px;
            left: -166px;
            z-index: -1;
        }
    }
    &__country {
        line-height: 38px;
        opacity: 0.5;
    }
    &__descr {
        margin-top: 78px;
        font-size: 22px;
        line-height: 33px;
        opacity: 0.5;
    }
}