section.about 
    .container.wrapper-flex-no-align
        img(src="../../assets/imgs/about/people.jpg", alt="" class="about__img")
        .about__info
            h2.title.title__about What do customers say about us?
            .about__pepole 
                h3.title.title__name Alpanasap
                p.about__country Japung, Indonesia
            p.about__descr Very satisfying service makes it comfortable, a beautiful place in the world. 