header.header 
    .container.wrapper-flex.header__nav
        h1.title.title__header GoTrieop
        ul.header__list
            li.header__item 
                a(href="#") Home
            li.header__item 
                a(href="#") Services
            li.header__item 
                a(href="#") Pricing
            li.header__item.last 
                a(href="#") Contact
        .header__registr 
            p.header__sing-up 
                a(href="#") Sign up
            button.button.button__header Login
    .container
        h3.subtitle.subtitle__header exsplore the world
        h2.title.title__header-main Explore The Natural Beauty Of Halmahera With Us
        p.header__descr explore the beauty of god's earth in a beautiful forest and have fun
        button.button.button__header-main Exsplore Now
        